.alert.alert-success(role="alert", ng-if='success')
  .text-center(ng-bind='success')
.alert.alert-success(role="alert", ng-if='alert')
  .text-center(ng-bind='alert')
.alert.alert-danger(role="alert", ng-if='error')
  .text-center(ng-bind='error.code || error')
