.navbar.navbar-default(ng-controller='NavBarController')

  var(ng-init='model= #{JSON.stringify(model)}')
  link(rel='stylesheet', ng-href="{{theme}}", ng-if='theme')

  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/') #{site}
  .navbar-collapse.collapse.navbar-responsive-collapse
    ul.nav.navbar-nav(ng-show='resources.length')
      li(ng-repeat='rname in resources')
        a(ng-click='setResource(rname)', href='')
          span(ng-bind='capitalize(rname)')

    form.navbar-form.navbar-left.ng-cloack(ng-if='model')
      input.form-control.col-lg-8.ng-cloak(ng-model="$parent.search", type='text', placeholder='Search on {{model}}')
    ul.nav.navbar-nav.navbar-right
      li.dropdown(ng-if='token')
        a.dropdown.active(ng-click='logout()', href='') Log Out
    ul.nav.navbar-nav.navbar-right
      li.dropdown(ng-if='token')
        a.dropdown-toggle#themesLink(href='#', data-toggle='dropdown')
          | Theme
          b.caret
        ul.dropdown-menu
          li(ng-repeat='t in themes', ng-class='{"active": t.css === theme}')
            a(ng-click='setTheme(t)' id='theme{{$index}}')
              span(ng-bind='t.name')
          li.divider
          li
            a(ng-click='delTheme()') Default
      li(ng-show="token")
        a(href='/account') Account
