div(ng-if='model && !id')
  h1(ng-bind='$parent.model + " feed"')
  .row
    .col-md-12.text-center(ng-if='!$parent.feed.length')
      h4 There are not items.
    div(ng-repeat='f in $parent.feed | filter:$parent.search')
      pre.col-md-10
        code(class="language-js") {{f}}
      a.col-md-1.btn.btn-primary(ng-click='setHashId(f)')
        i.glyphicon.glyphicon-pencil
      a.col-md-1.btn.btn-danger
        i.glyphicon.glyphicon-trash
