.jumbotron.ng-cloack(ng-controller='HomeController', ng-show='!token')
  var(ng-init='model= #{JSON.stringify(model)}')
  .row
    .col-md-6
      h1.text-center #{site}
      .row
        a.btn.btn-primary.col-xs-12.col-md-12(ng-click='enableView("register")') Join Me
    .row.col-md-6
      include ../sections/alerts
      include ../forms/login
      include ../forms/register
      include ../forms/recover
