div(ng-controller='ListController', ng-show='model')
  var(ng-init='model= #{JSON.stringify(model)}')
  var(ng-init='id= #{JSON.stringify(id)}')
  var(ng-init='roco = true')
    
  div(ng-if='model && id')
    include title
    include switch-model
    
