.row
  .col-xs-12.col-md-3
    h3(ng-bind='"List: " + model')
  .col-xs-12.col-sm-12.col-md-9
    .row
      .col-xs-12.col-sm-12.col-md-10
        include alerts
      .col-sm-12.col-md-2(ng-class='{"hidden-xs hidden-sm": roco, "col-xs-12 col-sm-12": !roco}')
        a.col-xs-12.col-sm-12.btn.btn-success#addLink(
          ng-href='/{{model}}/new')
          i.glyphicon.glyphicon-plus
      .hidden-lg.hidden-md(ng-class='{"hidden-xs hidden-sm": !roco, "col-xs-12 col-sm-12": roco}')
        a.col-xs-12.col-sm-12.btn.btn-success(
          ng-click='roco=false')
          i.glyphicon.glyphicon-list
