.row.ng-cloak(ng-switch='model')
  .col-sm-12.col-md-3(ng-class='{"hidden-xs hidden-sm": roco, "col-xs-12 col-sm-12": !roco}')
    include ../navs/list
    include ../navs/empty
  .col-sm-12.col-md-9(ng-class='{"hidden-xs hidden-sm": !roco, "col-xs-12 col-sm-12": roco}')