form.form-horizontal.ng-cloak(name="modelForm")
  fieldset
    .form-group
      label.col-md-2.control-label Email
      .col-md-10
        input.form-control(required='required',
          type='email', ng-model='$parent.edit.email')
    .form-group
      label.col-md-2.control-label Name
      .col-md-10
        input.form-control(type='text', ng-model='$parent.edit.name')
    .form-group
      label.col-md-2.control-label Since
      .col-md-10
        input.form-control(type='text', ng-model='$parent.edit.date')
    .form-group
      label.col-md-2.control-label Status
      .col-md-10
        select.form-control(ng-model='$parent.edit.status')
            option(value='0') Unconfirmed
            option(value='1') Confirmed
            option(value='2') Canceled
    include actions
