include ../layouts/app
  head
    title Documentation
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='#{site}')
    meta(name='author', content='#{site}')
    
    link(rel="icon" href="/img/favicon.ico")
    link(rel='stylesheet', ng-href="{{theme}}", ng-if='theme')
  body
    .navbar.navbar-default
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
        a.navbar-brand(href='/') Documentation
      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown.active(href='/dev') Dev
          li.dropdown
            a.dropdown.active(href='/docs') Docs
    .container
      .jumbotron
        .row
          .col-md-6.col-xs-12
            h2 Under Construction
            a.btn.btn-primary.btn-lg.col-md-12.col-xs-12(href='/')
              i.fa.fa-home
              | Home

          .col-md-6.col-xs-12
            h3 Documentation for App
            p This is a good place for read docs
            p Attach videos and books
